<div class="cart">
  <div
    class="cart_sidenav_bg"
    ng-show="$ctrl.isOpen"
    ng-click="$ctrl.closeCart()">
  </div>
  <div
    class="cart_sidenav"
    ng-class="{'cart_sidenav__open': $ctrl.isOpen}">
    <div class="cart_sidenav-container">
      <div
        class="cart_sidenav-close fa fa-times"
        ng-click="$ctrl.closeCart()"
        aria-hidden="true">
      </div>
      <div class="cart_sidenav_title">
        <div class="cart_sidenav_title_text cart_sidenav-text1">
          shopping
        </div>
        <div class="cart_sidenav_title_text cart_sidenav-text2">
          cart
        </div>
      </div>
      <div class="cart_sidenav_table">
        <div class="cart_sidenav_table-head">
          <div class="cart_sidenav_table-cell image-cell">
            Image
          </div>
          <div class="cart_sidenav_table-cell item-cell">
            Item
          </div>
          <div class="cart_sidenav_table-cell price-cell">
            Price
          </div>
          <div class="cart_sidenav_table-cell quantity-cell">
            Quantity
          </div>
          <div class="cart_sidenav_table-cell amount-cell">
            Amount
          </div>
          <div class="cart_sidenav_table-cell bin-cell">
          </div>
        </div>
        <div class="cart_sidenav_table-body">
          <cart-row
            item="cartItem"
            ng-repeat="cartItem in $ctrl.cart">
          </cart-row>
        </div>
        <div class="cart_sidenav_total-row">
          <div class="cart_sidenav_total-text">
            Total: {{$ctrl.getTotal() | currency:""}} USD
          </div>
        </div>
      </div>
      <div class="cart_sidenav_clear-btn" ng-click="$ctrl.clearCart()">
        <div class="cart_sidenav_clear-btn_text">
          Clear cart
        </div>
        <div
          class="cart_sidenav_clear-btn_arrow fa fa-angle-right"
          aria-hidden="true">
        </div>
      </div>
      <div
        class="cart_sidenav_checkout-btn"
        ng-show="$ctrl.cart.length > 0"
        ui-sref="order">
        <div class="cart_sidenav_checkout-btn_text">
          Checkout
        </div>
        <div
        class="cart_sidenav_checkout-btn_arrow fa fa-angle-right"
        aria-hidden="true">
        </div>
      </div>
    </div>
  </div>
  <div class="cart_icon-container" ng-click="$ctrl.openCart()">
    <div class="cart_icon"></div>
    <div class="cart_icon-text">cart</div>
  </div>
</div>
