.cart {
  width: 258px;
  height: 30px;
  display: inline-block;

  .cart_sidenav_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: $transparent-bg;
  }

  .cart_sidenav {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #e5e5e5;
    border-left: 1px solid #b2b2b2;
    overflow-x: hidden;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;

    &.cart_sidenav__open {
      width: 530px;
    }

    .cart_sidenav-container {
      width: 530px;

      .cart_sidenav-close {
        width: 30px;
        height: 30px;
        display: inline-block;
        float: right;
        margin-top: 10px;
        font-size: 20px;
        color: $primary-text;

        &:hover {
          color: $dark-text2;
        }
      }

      .cart_sidenav_title {
        width: 460px;
        height: 40px;
        display: inline-block;
        float: left;
        margin: 7px 0 0 10px;

        .cart_sidenav_title_text {
          font-family: $gotham-thin;
          font-size: 24px;
          color: $primary-text;
          text-transform: uppercase;
        }

        .cart_sidenav-text1 {
          letter-spacing: 1px;
          display: inline-block;
        }

        .cart_sidenav-text2 {
          margin-left: -3px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
        }
      }

      .cart_sidenav_table {
        width: 510px;
        border: 1px solid $primary-text-rgba;
        margin: 60px auto;
        display: table;

        .cart_sidenav_table-head {
          width: 100%;
          height: 50px;
          background-color: $primary-text-rgba;
          display: table-row;

          .cart_sidenav_table-cell {
            display: table-cell;
            float: left;
            border-right: 1px solid $light-background;
            text-align: center;
            line-height: 40px;
            font-family: $gotham-regular;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;

            &:last-child {
              border-right: 0;
            }
          }

          .image-cell {
            width: 100px;
            padding: 5px;
          }

          .item-cell {
            width: 120px;
            padding: 5px;
          }

          .price-cell {
            width: 60px;
            padding: 5px;
          }

          .quantity-cell {
            width: 70px;
            padding: 5px;
          }

          .amount-cell {
            width: 60px;
            padding: 5px;
          }

          .bin-cell {
            width: 30px;
            padding: 5px;
          }
        }

        .cart_sidenav_total-row {
          width: 100%;
          height: 50px;
          background-color: $primary-text-rgba;
          display: table-row;

          .cart_sidenav_total-text {
            font-family: $gotham-regular;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: right;
            line-height: 50px;
            padding-right: 20px;
          }
        }
      }

      .cart_sidenav_clear-btn {
        width: 165px;
        height: 40px;
        border: 1px solid $primary-text-rgba;
        margin: -25px 0 0 10px;
        display: inline-block;
        float: left;

        &:hover {
          cursor: pointer;
          background-color: $primary-text-rgba;
        }

        .cart_sidenav_clear-btn_text {
          width: 130px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-family: $gotham-regular;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: #a77c5a;
          letter-spacing: 1px;
          margin-left: 5px;
          display: inline-block;
        }

        .cart_sidenav_clear-btn_arrow {
          color: #a77c5a;
          font-size: 14px;
          margin-left: 5px;
          display: inline-block;
      }
    }

      .cart_sidenav_checkout-btn {
        width: 165px;
        height: 40px;
        border: 1px solid rgba(167, 124, 90, 0.3);
        margin: -25px 10px 0 0px;
        display: inline-block;
        float: right;

        &:hover {
          cursor: pointer;
          background-color: $primary-text-rgba;
        }

        .cart_sidenav_checkout-btn_text {
          width: 130px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-family: $gotham-regular;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: #a77c5a;
          letter-spacing: 1px;
          margin-left: 5px;
          display: inline-block;
        }

        .cart_sidenav_checkout-btn_arrow {
          color: #a77c5a;
          font-size: 14px;
          margin-left: 5px;
          display: inline-block;
        }
      }
    }
  }

  .cart_icon-container {
    height: 40px;
    width: 100px;
    margin: 43px 0 0 209px;


    &:hover {
      cursor: pointer;
    }
  }

  .cart_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 4px 0 0 8px;
    background-image: url('./images/spritesheet.png');
    background-position: left -2px top 0;
    float: left;
  }

  .cart_icon-text {
    margin: 14px 0 0 10px;
    font-family: $gotham-medium;
    color: $dark-text2;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
  }
}
