.brand {
  width: 268px;
  height: 100%;
  float: left;
  display: inline-block;
  margin-right: 56px;

  .brand-img-container {
    width: 100%;
    height: 268px;
    border: 1px solid $img-bg;
    margin: 42px 0 0 13px;

    &:hover {
      cursor: pointer;
      background-color: $dark-text2-rgba;
    }

    .brand-img {
      margin: -1px 0 0 -1px;
    }
  }

  .brand-text {
    font-family: $gotham-medium;
    font-size: 18px;
    color: $primary-text;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 27px 0 0 24px;
    text-align: center;
  }
}
