<div class="brand">
  <div class="brand-img-container">
    <img class="brand-img" ng-src="{{$ctrl.item.img}}" />
  </div>
  <div class="brand-text">
    {{$ctrl.item.quantity}} products
  </div>
</div>
