<div class="glasses-item" ng-click="$ctrl.addToCart()">
  <div class="glasses-item_img">
    <img ng-src="{{$ctrl.item.img}}" />
  </div>
  <div class="glasses-item_name">
    {{$ctrl.item.name}}
  </div>
  <div class="glasses-item_old-price">
    {{$ctrl.item.oldPrice | currency:""}} USD
  </div>
  <div class="glasses-item_price">
    {{$ctrl.item.price | currency:""}} USD
  </div>
</div>
