.glasses-item {
  width:315px;
  height: 100%;
  display: inline-block;
  float: left;
  margin-bottom: 150px;

  &:hover {
    margin-bottom: 5px;
    cursor: pointer;

    &::before {
      content: '+';
      font-family: $gotham-medium;
      font-size: 36px;
      font-weight: bold;
      color: $primary-text;
      position: absolute;
      margin: 265px 0 0 138px;
    }

    &::after {
      content: '';
      width: 181px;
      height: 310px;
      border: 20px solid $primary-text-rgba;
      position: absolute;
      margin: -517px 0 0 38px;
    }

    .glasses-item_name {
      margin: 97px 0 0 -12px;
    }

    .glasses-item_old-price {
      display: inline-block;
      font-family: $gotham-regular;
      font-size: 18px;
      font-weight: bold;
      color: $img-bg;
      position: absolute;
      margin: 29px 0 0 95px;
      letter-spacing: 1px;
    }

    .glasses-item_price {
      margin: 48px 0 0 -12px;
    }
  }

  .glasses-item_img {
    width: 300px;
    height: 265px;
    margin: 20px 0 0 6px;
  }

  .glasses-item_name {
    width: 180px;
    line-height: 23px;
    font-family: $gotham-medium;
    font-size: 18px;
    color: $primary-text;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 69px;
  }

  .glasses-item_old-price {
    display: none;
  }

  .glasses-item_price {
    font-family: $gotham-regular;
    font-size: 30px;
    font-weight: bold;
    color: #212121;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 11px;
  }
}
