<div class="cart-row">
  <div class="cart-row_section img-container">
    <img class="cart-row_img" ng-src="{{$ctrl.item.img}}" />
  </div>
  <div class="cart-row_section item-container">
    {{$ctrl.item.name}}
  </div>
  <div class="cart-row_section price-container">
    {{$ctrl.item.price | currency:""}} USD
  </div>
  <div class="cart-row_section quantity-container">
    <div
      class="cart-row_quantity-decrease fa fa-minus-circle"
      ng-click="$ctrl.decrease()"
      aria-hidden="true">
    </div>
    <div class="cart-row_quantity">
      {{$ctrl.item.count}}
    </div>
    <div
      class="cart-row_quantity-increase fa fa-plus-circle"
      ng-click="$ctrl.increase()"
      aria-hidden="true">
    </div>
  </div>
  <div class="cart-row_section amount-container">
    {{$ctrl.item.amount | currency:""}} USD
  </div>
  <div
    class="cart-row_section bin-container fa fa-trash-o"
    ng-click="$ctrl.removeFromCart()"
    aria-hidden="true">
  </div>
</div>
