.cart-row {
  width: 100%;
  min-height: 70px;

  .cart-row_section {
    display: table-cell;
    vertical-align: middle;
  }

  .img-container {
    width: 100px;
    padding: 5px;

    .cart-row_img {
      width: 100%;
    }
  }

  .item-container {
    width: 120px;
    padding: 5px;
    word-wrap: break-word;
    font-family: $gotham-thin;
    font-size: 12px;
    font-weight: bold;
    color: $dark-text2;
    text-transform: uppercase;
    text-align: center;
  }

  .price-container {
    width: 60px;
    padding: 5px;
    word-wrap: break-word;
    font-family: $gotham-thin;
    font-size: 12px;
    font-weight: bold;
    color: $dark-text2;
    text-transform: uppercase;
    text-align: center;
  }

  .quantity-container {
    width: 70px;
    padding: 5px;

    .cart-row_quantity-decrease {
      color: $primary-text;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        color: $dark-text2;
      }
    }

    .cart-row_quantity {
      width: 30px;
      height: 20px;
      font-family: $gotham-thin;
      font-size: 16px;
      color: $dark-text2;
      display: inline-block;
      text-align: center;
    }

    .cart-row_quantity-increase {
      color: $primary-text;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        color: $dark-text2;
      }
    }
  }

  .amount-container {
    width: 60px;
    padding: 5px;
    word-wrap: break-word;
    font-family: $gotham-thin;
    font-size: 12px;
    font-weight: bold;
    color: $dark-text2;
    text-transform: uppercase;
    text-align: center;
  }

  .bin-container {
    width: 20px;
    height: 20px;
    font-size: 18px;
    color: $primary-text;
    padding-left: 15px;

    &:hover{
    cursor: pointer;
    color: $dark-text2;
    }
  }
}
