<div class="news-letter">
  <div class="news-letter-title">
    <div class="news-letter-title_text news-letter-text1">
      news
    </div>
    <div class="news-letter-title_text news-letter-text2">
      letter
    </div>
    <div class="news-letter-title_line">
    </div>
  </div>
  <div class="news-letter-content">
    <div class="news-letter-content-images">
      <div class="news-letter-content-images_item images_item-left">
        <div class="news-letter-content-images_text images_text-left">
          Morbi faucibus elementum sodales
        </div>
        <div class="news-letter-content-images_btn images_btn-left">
          <div class="news-letter-content-images_btn-text">
            learn more
          </div>
          <div
            class="news-letter-content-images_btn-arrow fa fa-angle-right"
            aria-hidden="true">
          </div>
        </div>
      </div>
      <div class="news-letter-content-images_item images_item-middle">
        <div class="news-letter-content-images_text images_text-middle">
          Morbi faucibus elementum
        </div>
        <div class="news-letter-content-images_btn images_btn-middle">
          <div class="news-letter-content-images_btn-text">
            learn more
          </div>
          <div
            class="news-letter-content-images_btn-arrow fa fa-angle-right"
            aria-hidden="true">
          </div>
        </div>
      </div>
      <div class="news-letter-content-images_item images_item-right">
        <div class="news-letter-content-images_text images_text-right">
          Morbi faucibus elementum sodales
        </div>
        <div class="news-letter-content-images_btn images_btn-right">
          <div class="news-letter-content-images_btn-text">
            learn more
          </div>
          <div
            class="news-letter-content-images_btn-arrow fa fa-angle-right"
            aria-hidden="true">
          </div>
        </div>
      </div>
    </div>
    <div class="news-letter-content-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu risus nulla. In gravida vestibulum nulla, non rutrum odio vestibulum ac.
    </div>
    <div class="news-letter-content-form">
      <input
        class="news-letter-content-form_input"
        type="email"
        placeholder="email@email.com" />
      <div class="news-letter-content-form_btn">
        <div class="news-letter-content-form_btn-text fa fa-paper-plane">
        </div>
      </div>
    </div>
  </div>
</div>
