.news-letter {
  width: 100%;
  height: 977px;

  .news-letter-title {
    width: 152px;
    height: 300px;
    margin-top: 577px;
    margin-left: 0;
    float: left;

    .news-letter-title_text {
      font-family: $gotham-thin;
      font-size: 24px;
      color: $dark-text2;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }

    .news-letter-text1 {
      margin: 117px 4px 0 0;
      letter-spacing: 3px;
    }

    .news-letter-text2 {
      margin: -107px 3px 0 0;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .news-letter-title_line {
      width: 2px;
      height: 30px;
      background-color: #212121;
      opacity: 0.3;
      margin: 169px 0 0 73px;
      display: inline-block;
    }
  }

  .news-letter-content {
    width: 1288px;
    height: 500px;
    margin: 60px 0 0 10px;
    display: inline-block;

    .news-letter-content-images {
      width: 1276px;
      height: 401px;
      margin-top: 48px;

      .news-letter-content-images_item {
        width: 400px;
        height: 400px;
        background-color: $img-bg;
        background-repeat: no-repeat;
        float: left;

        .news-letter-content-images_text {
          font-family: $gotham-medium;
          font-size: 30px;
          font-weight: 500;
          color: #ffffff;
          letter-spacing: 2px;
          text-align: center;
          word-spacing: 1px;
        }

        .images_text-left {
          width: 239px;
          line-height: 35px;
          margin: 0 auto;
          padding: 148px 0 0 0px;
        }

        .images_text-middle {
          width: 239px;
          line-height: 35px;
          margin: 0 auto;
          padding: 184px 0 0 0px;
          letter-spacing: 2px;
        }

        .images_text-right {
          width: 239px;
          line-height: 35px;
          margin: 0 auto;
          padding: 148px 0 0 0px;
        }

        .news-letter-content-images_btn {
          width: 304px;
          height: 77px;
          border: 1px solid $white;

          &:hover {
            cursor: pointer;
            background-color: $primary-text-rgba;
          }

          .news-letter-content-images_btn-text {
            width: 180px;
            height: 77px;
            line-height: 77px;
            text-align: center;
            font-family: $gotham-regular;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 2px;
            margin-left: 50px;
            display: inline-block;
          }

          .news-letter-content-images_btn-arrow {
            color: $white;
            font-size: 18px;
            margin-left: 28px;
            display: inline-block;
          }
        }

        .images_btn-left {
          margin: 27px 0 0 47px;
        }

        .images_btn-middle {
          margin: 26px 0 0 47px;
        }

        .images_btn-right {
          margin: 27px 0 0 47px;
        }
      }

      .images_item-left {
        background-image: url(./images/newsletter-left-right.jpg);
        background-position: left 0px top -11px;
        margin-right: 33px;
      }

      .images_item-middle {
        background-image: url(./images/newsletter-middle.png);
        background-position: left -1px top 1px;
        margin-right: 43px;
      }

      .images_item-right {
        background-image: url(./images/newsletter-left-right.jpg);
        background-position: left 0px top -11px;
      }
    }

    .news-letter-content-text {
      font-family: $gotham-book;
      font-size: 24px;
      color: $primary-text;
      letter-spacing: 2px;
      word-spacing: -4px;
      text-align: center;
      margin: 112px 0 0 280px;
      line-height: 30px;
      width: 678px;
    }

    .news-letter-content-form {
      width: 646px;
      height: 98px;
      border: 1px solid $primary-text;
      margin: 43px 0 0 312px;
      position: relative;

      .news-letter-content-form_input {
        width: 497px;
        height: 94px;
        background-color: transparent;
        border: 0px solid;
        display: inline-block;
        margin: 3px 0 0 50px;
        font-family: $gotham-regular;
        font-size: 18px;
        font-weight: bold;
        color: $dark-text2;
        text-transform: uppercase;
        float: left;

        &::-webkit-input-placeholder {
          font-family: $gotham-regular;
          font-size: 18px;
          font-weight: bold;
          color: $dark-text2;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        &::-moz-placeholder {
          font-family: $gotham-regular;
          font-size: 18px;
          font-weight: bold;
          color: $dark-text2;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        &:-ms-input-placeholder {
          font-family: $gotham-regular;
          font-size: 18px;
          font-weight: bold;
          color: $dark-text2;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        &:focus {
          outline-offset: 0;
          outline-color: transparent;
          outline-style: none;
          outline-width: 0;

          &::-webkit-input-placeholder {
            color: $dark-text2-rgba;
          }

          &::-moz-placeholder {
            color: $dark-text2-rgba;
          }

          &:-ms-input-placeholder {
            color: $dark-text2-rgba;
          }
        }
      }

      .news-letter-content-form_btn {
        width: 99px;
        height: 98px;
        background-color: $primary-text-rgba;
        display: inline-block;
        position: absolute;
        right: 0px;

        &:hover {
          cursor: pointer;
        }

        .news-letter-content-form_btn-text {
          font-size: 36px;
          color: $primary-text;
          text-transform: uppercase;
          text-align: center;
          margin: 32px 0 0 33px;
        }
      }
    }
  }
}
