.order-page {
  width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;

  .order-page_content {
    width: 100%;
    min-height: 1000px;

    .order-page_address {
      width: 310px;
      display: inline-block;
      float: left;
      border: 1px solid $primary-text-rgba;
      border-radius: 2px;
      padding: 15px;
      margin: 10px 100px 0 150px;

      .order-page_address-title {
        width: 460px;
        height: 40px;
        display: inline-block;
        margin: 7px 0 20px 10px;

        .order-page_address-title_text {
          font-family: $gotham-thin;
          font-size: 24px;
          color: $primary-text;
          text-transform: uppercase;
        }

        .order-page_address-text1 {
          letter-spacing: 1px;
          display: inline-block;
        }

        .order-page_address-text2 {
          margin-left: -3px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
        }
      }

      .order-page_input-container {
        position: relative;
        height: 60px;
        margin-bottom: 2px;

        .order-page_input {
          width: 300px;
          height: 45px;
          border-bottom: 1px solid rgba(0,0,0,0.12);
          box-shadow: none;
          border-top: 0px none;
          border-left: 0px none;
          border-right: 0px none;
          font-family: $gotham-regular;
          font-size: 14px;

          &:focus {
            outline-offset: 0;
            outline-color: transparent;
            outline-style: none;
            outline-width: 0;
          }

          &:focus ~ .floating-label,
          &.ng-valid:not(:focus) ~ .floating-label{
            top: -5px;
            bottom: 10px;
            left: 0px;
            font-family: $gotham-regular;
            font-size: 14px;
            color: $primary-text;
            opacity: 1;
          }
        }

        .floating-label {
          position: absolute;
          pointer-events: none;
          left: 10px;
          top: 18px;
          font-family: $gotham-regular;
          transition: 0.2s ease all;
        }
      }
    }

    .order-page_process-order {
      width: 500px;
      height: 563px;
      display: inline-block;
      float: left;
      display: inline-block;
      float: left;
      border: 1px solid $primary-text-rgba;
      margin-top: 10px;
      padding: 15px;
      border-radius: 2px;

      .order-page_process-title {
        width: 460px;
        height: 40px;
        display: inline-block;
        margin: 7px 0 0 10px;

        .order-page_process-title_text {
          font-family: $gotham-thin;
          font-size: 24px;
          color: $primary-text;
          text-transform: uppercase;
        }

        .order-page_process-text1 {
          letter-spacing: 1px;
          display: inline-block;
        }

        .order-page_process-text2 {
          margin-left: -3px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
        }
      }

      .order-page_order-total {
        font-family: $gotham-regular;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 15px 0 15px 0;
      }

      .order-page_row {
        width: 500px;
        height: 50px;

        .order-page_cell {
          text-align: center;
          line-height: 40px;
          font-family: $gotham-regular;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 1px;
        }

        .order-page_item {
          width: 240px;
          display: table-cell;
          padding: 5px;
        }

        .order-page_quantity {
          width: 130px;
          display: table-cell;
          padding: 5px;
        }

        .order-page_amount {
          width: 130px;
          display: table-cell;
          padding: 5px;
        }
      }

      .order-page_total {
        width: 500px;
        height: 50px;
        background-color: $primary-text-rgba;
        display: table-row;

        .order-page_total-text {
          width: 500px;;
          font-family: $gotham-regular;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 1px;
          text-align: right;
          line-height: 50px;
        }
      }

      .order-page_btn {
        width: 165px;
        height: 40px;
        border: 1px solid $primary-text-rgba;
        margin-top: 25px;
        display: inline-block;
        float: right;

        &:hover {
          cursor: pointer;
          background-color: $primary-text-rgba;
        }

        .order-page_btn_text {
          width: 130px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-family: $gotham-regular;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: #a77c5a;
          letter-spacing: 1px;
          margin-left: 10px;
          display: inline-block;
        }

        .order-page_btn_arrow {
          color: #a77c5a;
          font-size: 14px;
          margin-left: 5px;
          display: inline-block;
        }
      }
    }
  }
}
