<div class="order-page">
  <nav-bar></nav-bar>
  <div class="order-page_content">
    <div class="order-page_address">
      <div class="order-page_address-title">
        <div class="order-page_address-title_text order-page_address-text1">
          add
        </div>
        <div class="order-page_address-title_text order-page_address-text2">
          ress
        </div>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="name"
          class="order-page_input order-page_name"
          ng-model="test1"
          ng-required="true" />
        <span class="floating-label">Name</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="tel"
          name="phone"
          class="order-page_input order-page_phone"
          ng-model="test2"
          ng-required="true" />
        <span class="floating-label">Phone number</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="house-number"
          class="order-page_input order-page_house-number"
          ng-pattern="/^[ 0-9]+$/"
          ng-model="test3"
          ng-required="true" />
        <span class="floating-label">House number</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="street"
          class="order-page_input order-page_street"
          ng-model="test4"
          ng-required="true"/>
        <span class="floating-label">Street</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="appartment"
          class="order-page_input order-page_appartment"
          pattern="^[ 0-9]+$"
          ng-model="test5"
          ng-required="true"/>
        <span class="floating-label">Appartment</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="city"
          class="order-page_input order-page_city"
          ng-model="test6"
          ng-required="true" />
        <span class="floating-label">City / Tow</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="country"
          class="order-page_input order-page_country"
          ng-model="test7"
          ng-required="true" />
        <span class="floating-label">Country</span>
      </div>
      <div class="order-page_input-container">
        <input
          type="text"
          name="code"
          class="order-page_input order-page_code"
          pattern="^[ 0-9]+$"
          ng-model="test8"
          ng-required="true" />
        <span class="floating-label">Zip-code</span>
      </div>
    </div>
    <div class="order-page_process-order">
      <div class="order-page_process-title">
        <div class="order-page_process-title_text order-page_process-text1">
          process
        </div>
        <div class="order-page_process-title_text order-page_process-text2">
          order
        </div>
      </div>
      <div class="order-page_order-total">
        Order total:
      </div>
      <div class="order-page_row" ng-repeat="cartItem in $ctrl.cart">
        <div class="order-page_cell order-page_item">
          {{cartItem.name}}
        </div>
        <div class="order-page_cell order-page_quantity">
          {{cartItem.count}}
        </div>
        <div class="order-page_cell order-page_amount">
          {{cartItem.amount | currency:""}} USD
        </div>
      </div>
      <div class="order-page_total">
        <div class="order-page_total-text">
          Total Amount: {{$ctrl.getTotal() | currency:""}} USD
        </div>
      </div>
      <div class="order-page_btn">
        <div class="order-page_btn_text">
          Place oreder
        </div>
        <div class="order-page_btn_arrow fa fa-angle-right" aria-hidden="true">
        </div>
      </div>
    </div>
  </div>
  <bottom></bottom>
</div>
