.brands {
  width: 100%;
  height: 517px;
  margin-top: 0;
  background-color: $light-background;

  .brands-title {
    width: 152px;
    height: 300px;
    margin-top: -143px;
    margin-left: 0;
    float: left;

    .brands-title_text {
      font-family: $gotham-thin;
      font-size: 24px;
      color: $dark-text2;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }

    .brands-text1 {
      margin: 94px 4px 0 0;
      letter-spacing: 1px;
    }

    .brands-text2 {
      margin: -83px 3px 0 0;
      font-weight: bold;
      letter-spacing: 3px;
    }

    .brands-title_line {
      width: 2px;
      height: 30px;
      background-color: $dark-text2;
      opacity: 0.3;
      margin: 145px 0 0 73px;
      display: inline-block;
    }
  }

  .brands-logos {
    width: 1300px;
    height: 400px;
    margin: 60px 0 0 10px;
    display: inline-block;
  }
}
