<div class="brands">
  <div class="brands-title">
    <div class="brands-title_text brands-text1">
      bra
    </div>
    <div class="brands-title_text brands-text2">
      nds
    </div>
    <div class="brands-title_line">
    </div>
  </div>
  <div class="brands-logos">
    <brand
      item="brand" ng-repeat="brand in $ctrl.brands">
    </brand>
  </div>
</div>
