<div class="bottom">
  <div class="bottom-menu">
    <table class="bottom-brandss-list">
      <thead class="bottom-brands-list_title">
        <tr class="bottom-brands-list_title-row">
         <td class="bottom-brands-list_title-text">
           <div class="bottom-brands-list_title-text1">
             bra
           </div>
           <div class="bottom-brands-list_title-text2">
             nds
           </div>
         </td>
        </tr>
      </thead>
      <tbody class="bottom-brands-list_body">
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Adidas
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            MAX & Co.
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Alexander McQueen
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Montana
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            BOSS
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Oakley
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Boss Orange
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Oxydo
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Bottega Veneta
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Persol
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Carrera
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Pierre Cardin
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Cocoons
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Ray-Ban
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Dior
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Ray-Ban Junior
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Dior Homme
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Seventh Street
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Hugo Boss
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Sillhouette
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Marc by Marc Jacobs
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Smith Optics
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Marc Jacobs
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Tommy Hilfiger
          </td>
        </tr>
        <tr class="bottom-brands-list_body-row">
          <td class="bottom-brands-list-item brands-list-item-left">
            Max Mara
          </td>
          <td class="bottom-brands-list-item brands-list-item-right">
            Zoo Collection
          </td>
        </tr>
      </tbody>
    </table>
    <table class="bottom-info-list">
      <thead class="bottom-info-list_title">
        <tr class="bottom-info-list_title-row">
         <td class="bottom-info-list_title-text">
           <div class="bottom-info-list_title-text1">
             other
           </div>
           <div class="bottom-info-list_title-text2">
             info
           </div>
         </td>
        </tr>
      </thead>
      <tbody class="bottom-info-list_body">
        <tr class="bottom-info-list_body-row">
          <td class="bottom-info-list-item">
            Terms and conditions
          </td>
        </tr>
        <tr class="bottom-info-list_body-row">
          <td class="bottom-info-list-item">
            Privacy policy
          </td>
        </tr>
        <tr class="bottom-info-list_body-row">
          <td class="bottom-info-list-item">
            Contact
          </td>
        </tr>
        <tr class="bottom-info-list_body-row">
          <td class="bottom-info-list-item">
            FAQ
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bottom-divider">
  </div>
  <div class="bottom-logo">
    <div class="bottom-logo-text1">
      eye
    </div>
    <div class="bottom-logo-text2">
      wear
    </div>
  </div>
  <div class="bottom-icons">
    <div class="bottom-icons_item icons_item1">
    </div>
    <div class="bottom-icons_item icons_item2">
    </div>
  </div>
</div>
