.bottom {
  width: 100%;
  height: 700px;
  background-color: $primary-background;

  .bottom-menu {
    width: 800px;
    height: 460px;
    margin-left: 360px;

    .bottom-brandss-list {
      width: 470px;
      height: 100%;
      display: inline-block;
      padding-top: 75px;
      float: left;

      .bottom-brands-list_title {

        .bottom-brands-list_title-row {
          height: 69px;

          .bottom-brands-list_title-text {
            font-size: 24px;
            color: $primary-text;
            text-transform: uppercase;

            .bottom-brands-list_title-text1 {
              font-family: $gotham-thin;
              margin: -40px 0px 0 1px;
              letter-spacing: 3px;
              display: inline-block;
              vertical-align: middle;
            }

            .bottom-brands-list_title-text2 {
              font-family: $gotham-regular;
              margin: -40px 0 0 -5px;
              font-weight: bold;
              letter-spacing: 4px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }

      .bottom-brands-list_body {

        .bottom-brands-list_body-row {

          .bottom-brands-list-item {
            font-family: $gotham-medium;
            font-size: 18px;
            color: $img-bg;
            letter-spacing: 1px;
            display: inline-block;

            &:hover {
              cursor: pointer;
              color: $primary-text;
            }
          }

          .brands-list-item-left {
            width: 318px;
            padding-left: 6px;
          }
        }
      }
    }

    .bottom-info-list {
      width: 200px;
      height: 100%;
      display: inline-block;
      padding-top: 75px;
      margin-left: 125px;

      .bottom-info-list_title {

        .bottom-info-list_title-row {
          height: 69px;

          .bottom-info-list_title-text {
            font-size: 24px;
            color: $primary-text;
            text-transform: uppercase;

            .bottom-info-list_title-text1 {
              font-family: $gotham-thin;
              margin: -40px 0px 0 -2px;
              letter-spacing: 3px;
              display: inline-block;
              vertical-align: middle;
            }

            .bottom-info-list_title-text2 {
              font-family: $gotham-regular;
              margin: -40px 0 0 -6px;
              font-weight: bold;
              letter-spacing: 4px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }

      .bottom-info-list_body {

        .bottom-info-list_body-row {

          .bottom-info-list-item {
            font-family: $gotham-medium;
            font-size: 18px;
            color: $img-bg;
            letter-spacing: 1px;

            &:hover {
              cursor: pointer;
              color: $primary-text;
            }
          }
        }
      }
    }
  }

  .bottom-divider {
    width: 1080px;
    height: 1px;
    background-color: $primary-text-rgba;
    margin: 45px 0 0 260px;
  }

  .bottom-logo {
    width: 50%;
    font-family: $roboto;
    font-size: 48px;
    color: $bottom-logo-text;
    letter-spacing: 1px;
    display: inline-block;
    float: left;

    .bottom-logo-text1 {
      margin: 16px 0 0 256px;
      display: inline-block;
    }

    .bottom-logo-text2 {
      margin-left: -17px;
      display: inline-block;
      font-weight: bold;
    }
  }

  .bottom-icons {
    width: 50%;
    height: 70px;
    display: inline-block;

    .bottom-icons_item {
      height: 100%;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url('./images/spritesheet.png');
    }

    .icons_item1 {
      width: 170px;
      background-position: left -295px top 6px;
      margin: 7px 0 0 217px;
    }

    .icons_item2 {
      background-position: left -24px top 0;
      margin-left: 8px;
      width: 150px;
    }
  }
}
