<div class="best-sellers">
  <div class="best-sellers-title">
    <div class="best-sellers-title_text best-sellers-text1">
      best
    </div>
    <div class="best-sellers-title_text best-sellers-text2">
      sellers
    </div>
    <div class="best-sellers-title_line">
    </div>
  </div>
  <div class="best-sellers-list">
    <glasses-item
      item="bestSeller"
      ng-repeat="bestSeller in $ctrl.bestSellers">
    </glasses-item>
  </div>
  <div
    class="best-sellers-btn"
    ng-click="$ctrl.loadBestSellers()"
    ng-show="$ctrl.showLoadMore">
    <div class="best-sellers-btn_text">
      load more
    </div>
    <div class="best-sellers-btn_arrow fa fa-angle-right" aria-hidden="true">
    </div>
  </div>
</div>
