<div class="main-page">
  <nav-bar></nav-bar>
  <glasses-container></glasses-container>
  <special-offers></special-offers>
  <best-sellers></best-sellers>
  <new-arrivals></new-arrivals>
  <brands></brands>
  <news-letter></news-letter>
  <bottom></bottom>
</div>
