<div class="special-offers">
  <div class="special-offers-content">
    <div class="special-offers-content_title">
      <div class="special-offers-content_title-text title-text1">
        special
      </div>
      <div class="special-offers-content_title-text title-text2">
        offers
      </div>
      <div class="special-offers-content_title-line"></div>
    </div>
    <div class="special-offers-content_left-block">
      <div class="special-offers-content_left-image">
        <div class="special-offers-content_left-text">
          Fusce sit amet est quam dolor sit ametis
        </div>
        <div class="special-offers-content_left-btn">
          <div class="special-offers-content_left-btn-text">
            learn more
          </div>
          <div
            class="special-offers-content_left-arrow fa fa-angle-right"
            aria-hidden="true">
          </div>
        </div>
      </div>
      <div class="special-offers-content_left-bottom">
        <div class="special-offers-content_left-bottom_item">
          <div class="special-offers-content_left-bottom_item-icon left">
          </div>
          <div class="special-offers-content_left-bottom_item-big-text">
            free shipping
          </div>
          <div class="special-offers-content_left-bottom_item-small-text">
            worldwide
          </div>
        </div>
        <div class="special-offers-content_left-bottom_item">
          <div class="special-offers-content_left-bottom_item-icon right">
          </div>
          <div class="special-offers-content_left-bottom_item-big-text right-text">
            14 days free return
          </div>
          <div class="special-offers-content_left-bottom_item-small-text small-text-right">
            worldwide
          </div>
        </div>
      </div>
    </div>
    <div class="special-offers-content_right-block">
      <div class="special-offers-content_right-image">
        <div class="special-offers-content_right-text">
          Fusce sit amet est quam dolor sit ametis
        </div>
        <div class="special-offers-content_right-btn">
          <div class="special-offers-content_right-btn-text">
            learn more
          </div>
          <div
            class="special-offers-content_right-arrow fa fa-angle-right"
            aria-hidden="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
