.special-offers {
  width: 100%;
  height: 870px;
  background-color: transparent;
  padding-bottom: 75px;

  .special-offers-content {
    width: 100%;
    height: 910px;
    margin-top: -100px;

    .special-offers-content_title {
      width: 152px;
      height: 300px;
      margin-top: 0;
      margin-left: 0;
      float: left;

      .special-offers-content_title-text {
        font-family: $gotham-thin;
        font-size: 24px;
        color: $dark-text2;
        text-transform: uppercase;
        transform: rotate(-90deg);
      }

      .title-text1 {
        margin: 141px 4px 0 0;
        letter-spacing: 2px;
      }

      .title-text2 {
        margin: -147px 2px 0 0;
        font-weight: bold;
        letter-spacing: 2px;
      }

      .special-offers-content_title-line {
        width: 2px;
        height: 30px;
        background-color: $dark-text2;
        opacity: 0.3;
        margin: 205px 0 0 73px;
        display: inline-block;
      }
    }

    .special-offers-content_left-block {
      width: 745px;
      height: 100%;
      margin-left: 9px;
      float: left;

      .special-offers-content_left-image {
        width: 745px;
        height: 620px;
        background-color: $img-bg;
        background-image: url('./images/left-img.jpg');
        background-repeat: no-repeat;
        background-position: left 0px bottom 0px;

        .special-offers-content_left-text {
          width: 304px;
          height: 130px;
          line-height: 36px;
          text-align: center;
          font-family: $gotham-regular;
          font-size: 29px;
          font-weight: bold;
          color: $white;
          padding: 361px 0 0 389px;
          letter-spacing: 1px;
          word-spacing: 1px;
        }

        .special-offers-content_left-btn {
          width: 304px;
          height: 77px;
          border: 1px solid $white;
          margin: 1px 0 0 391px;

          &:hover {
            cursor: pointer;
            background-color: $primary-text-rgba;
          }

          .special-offers-content_left-btn-text {
            width: 180px;
            height: 77px;
            line-height: 77px;
            text-align: center;
            font-family: $gotham-regular;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 2px;
            margin-left: 51px;
            display: inline-block;
          }

          .special-offers-content_left-arrow {
            color: $white;
            font-size: 18px;
            margin-left: 27px;
            display: inline-block;
          }
        }
      }

      .special-offers-content_left-bottom {
        width: 742px;
        height: 248px;
        margin-top: 40px;
        border: 1px solid $primary-text-rgba;

        .special-offers-content_left-bottom_item {
          width: 50%;
          height: 180px;
          margin-top: 34px;
          display: inline-block;

          &:first-child {
            border-right: 1px solid $primary-text-rgba;
            width: calc(50% + 1px);
          }

          &:last-child {
            margin-left: -5px;
            width: calc(50% - 1px);
          }

          .special-offers-content_left-bottom_item-icon {
            width: 47px;
            height: 45px;
            margin: 37px auto;
            background-image: url('./images/spritesheet.png');
            background-repeat: no-repeat;
          }

          .left {
            background-position: top 0 right -167px;
          }

          .right {
            background-position: top -1px left -171px;
          }

          .special-offers-content_left-bottom_item-big-text {
            font-family: $gotham-regular;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            color: $primary-text;
            letter-spacing: 3px;
            text-align: center;
            margin-top: -37px;
          }

          .right-text {
            height: 29px;
            margin: -39px 0 0 12px;
            word-spacing: -3px;
          }

          .special-offers-content_left-bottom_item-small-text {
            font-family: $myriad-pro;
            font-size: 24px;
            color: $img-bg;
            letter-spacing: 1px;
            text-align: center;
            margin: 3px 0 0 -3px;
          }

          .small-text-right {
            margin: 3px 0 0 2px;
          }
        }
      }
    }

    .special-offers-content_right-block {
      width: 503px;
      height: 100%;
      margin-left: 40px;
      display: inline-block;

      .special-offers-content_right-image {
        width: 100%;
        height: 100%;
        background-color: $img-bg;
        background-image: url('./images/right-img.jpg');
        background-repeat: no-repeat;
        background-position: left 0 top 0;

        .special-offers-content_right-text {
          width: 304px;
          height: 130px;
          line-height: 36px;
          text-align: center;
          font-family: $gotham-regular;
          font-size: 29px;
          font-weight: bold;
          color: $white;
          padding: 650px 0 0 77px;
          letter-spacing: 1px;
          word-spacing: 1px;
        }

        .special-offers-content_right-btn {
          width: 304px;
          height: 77px;
          border: 1px solid $white;
          margin: 1px 0 0 79px;

          &:hover {
            cursor: pointer;
            background-color: $primary-text-rgba;
          }

          .special-offers-content_right-btn-text{
            width: 180px;
            height: 77px;
            line-height: 77px;
            text-align: center;
            font-family: $gotham-regular;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 2px;
            margin-left: 51px;
            display: inline-block;
          }

          .special-offers-content_right-arrow {
            color: $white;
            font-size: 18px;
            margin-left: 27px;
            display: inline-block;
          }
        }
      }
    }
  }
}
