<div class="navigation">
  <div class="navigation-logo" ui-sref="mainPage">
    <span class="navigation-logo_text logo_text1">eye</span>
    <span class="navigation-logo_text logo_text2">wear</span>
  </div>
  <ul class="navigation-menu">
    <li class="navigation-menu_items navigation-menu_item1">
      dioptric glasses
    </li>
    <li class="navigation-menu_items navigation-menu_item2">
      sunglasses
    </li>
    <li class="navigation-menu_items navigation-menu_item3">
      kids glasses
    </li>
  </ul>
  <div class="navigation-icons">
    <search></search>
    <cart></cart>
  </div>
</div>
