.navigation {
  width: 100%;
  height: 190px;
  background-color: $primary-background;
  margin-top: 0;

  .navigation-logo {
    width: 490px;
    height: 100%;
    display: inline-block;
    float: left;

    .navigation-logo_text {
      display: block;
      font-family: $roboto;
      font-size: 48px;
      color: $dark-text1;

      &:hover {
        cursor: pointer;
      }
    }

    .logo_text1 {
      margin: 67px 0 0 159px;
      font-weight: 300;
    }

    .logo_text2 {
      font-weight: 500;
      margin: -55px 0 0 231px;
    }
  }

  .navigation-menu {
    width: 620px;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 0;
    list-style: none;

    .navigation-menu_items {
      display: inline-block;
      margin-right: 19px;
      font-family: $gotham-medium;
      color: $dark-text2;
      font-size: 14px;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
    }

    .navigation-menu_item1 {
      margin: 75px 19px 0 62px;
      font-weight: 600;
      letter-spacing: 1px;
      word-spacing: -2px;
    }

    .navigation-menu_item2 {
      font-weight: 600;
      letter-spacing: 1px;
    }

    .navigation-menu_item3 {
      margin: 0 0 0 1px;
      font-weight: 600;
      letter-spacing: 1px;
      word-spacing: -2px;
    }
  }

  .navigation-icons {
    width: 450px;
    height: 100%;
    display: inline-block;
    float: left;
  }
}
