<div class="new-arrivals">
  <div class="new-arrivals-title">
    <div class="new-arrivals-title_text new-arrivals-text1">
      new
    </div>
    <div class="new-arrivals-title_text new-arrivals-text2">
      arrivals
    </div>
    <div class="new-arrivals-title_line">
    </div>
  </div>
  <div class="new-arrivals-list">
    <glasses-item
      item="newArrival"
      ng-repeat="newArrival in $ctrl.newArrivals">
    </glasses-item>
  </div>
  <div
    class="new-arrivals-btn"
    ng-click="$ctrl.loadMore()"
    ng-show="$ctrl.showLoadMore">
    <div class="new-arrivals-btn_text">
      load more
    </div>
    <div class="new-arrivals-btn_arrow fa fa-angle-right" aria-hidden="true">
    </div>
  </div>
</div>
