.new-arrivals {
  width: 100%;
  min-height: 831px;
  margin-top: 0;

  .new-arrivals-title {
    width: 152px;
    height: 300px;
    margin-top: 26px;
    margin-left: 0;
    float: left;

    .new-arrivals-title_text {
      font-family: $gotham-thin;
      font-size: 24px;
      color: $dark-text2;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }

    .new-arrivals-text1 {
      margin: 102px 6px 0 0;
      letter-spacing: 2px;
    }

    .new-arrivals-text2 {
      margin: -92px 3px 0 0;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .new-arrivals-title_line {
      width: 2px;
      height: 30px;
      background-color: $dark-text2;
      opacity: 0.3;
      margin: 152px 0 0 73px;
      display: inline-block;
    }
  }

  .new-arrivals-list {
    width: 1288px;
    min-height: 525px;
    margin: 75px 0 0 10px;
    display: inline-block;
  }

  .new-arrivals-btn {
    width: 304px;
    height: 77px;
    border: 1px solid $dark-text2-rgba;
    margin: 8px 0 30px 643px;

    &:hover {
      cursor: pointer;
      background-color: $primary-text-rgba;
    }

    .new-arrivals-btn_text {
      width: 180px;
      height: 77px;
      line-height: 77px;
      text-align: center;
      font-family: $gotham-regular;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-text2;
      letter-spacing: 2px;
      margin-left: 50px;
      display: inline-block;
    }

    .new-arrivals-btn_arrow {
      color: $dark-text2;
      font-size: 18px;
      margin-left: 28px;
      display: inline-block;
    }
  }
}
