<div class="glasses-container">
  <div class="glasses-container_item">
    <div class="glasses-container_item-text">
      <div class="glasses-container_item-text1-women">wo</div>
      <div class="glasses-container_item-text2-women">men</div>
    </div>
    <div class="glasses-container_item-img women">
    </div>
    <ul class="glasses-container_item-menu">
      <li class="glasses-container_item-menu-text women-text1">
        dioptric
      </li>
      <li class="glasses-container_item-menu-divider women-divider">
      </li>
      <li class="glasses-container_item-menu-text women-text2">
        sunglasses
      </li>
    </ul>
  </div>
  <div class="glasses-container_item">
    <div class="glasses-container_item-text">
      <div class="glasses-container_item-text1-men">m</div>
      <div class="glasses-container_item-text2-men">en</div>
    </div>
    <div class="glasses-container_item-img men">
    </div>
    <ul class="glasses-container_item-menu">
      <li class="glasses-container_item-menu-text men-text1">
        dioptric
      </li>
      <li class="glasses-container_item-menu-divider men-divider">
      </li>
      <li class="glasses-container_item-menu-text men-text2">
        sunglasses
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
