.glasses-container {
  width: 100%;
  height: 760px;
  background-color: $primary-background;

  .glasses-container_item {
    width: 50%;
    height: 500px;
    float: left;
    margin-top: 58px;

    .glasses-container_item-text {
      width: 100%;
      height: 110px;
      font-family: $gotham-thin;
      font-size: 146px;
      color: $white;
      text-transform: uppercase;
      margin-top: 21px;
      z-index: 0;

      .glasses-container_item-text1-women {
        display: block;
        margin: 20px 0 0 148px;
        letter-spacing: 20px;
      }

      .glasses-container_item-text1-men {
        display: block;
        margin: -1px 0 0 144px;
      }

      .glasses-container_item-text2-women {
        display: block;
        font-weight: bold;
        margin: -167px 0 0 442px;
        letter-spacing: 11px;
      }

      .glasses-container_item-text2-men {
        display: block;
        font-weight: bold;
        margin: -167px 0 0 279px;
        letter-spacing: 10px;
      }
    }

    .glasses-container_item-img {
      width: 100%;
      height: 200px;
      position: relative;
      z-index: 1;
    }

    .women {
      background-image: url('./images/women-eyewear.png');
      background-repeat: no-repeat;
      background-position: left 172px top 9px;
    }

    .men {
      background-image: url('./images/men-eyewear.png');
      background-repeat: no-repeat;
      background-position: left -18px top -49px;
    }

    .glasses-container_item-menu {
      width: 100%;
      height: 55px;
      line-height: 55px;
      text-align: center;
      list-style: none;
      padding: 0;
      margin-top: 62px;

      .glasses-container_item-menu-text {
        font-family: $gotham-medium;
        font-size: 18px;
        color: $primary-text;
        text-transform: uppercase;
        display: block;

        &:hover {
          cursor: pointer;
        }
      }

      .women-text1 {
        margin-left: -32px;
        letter-spacing: 2px;
      }

      .men-text1 {
        margin: 64px 0 0 -338px;
        letter-spacing: 2px;
      }

      .glasses-container_item-menu-divider {
        width: 2px;
        height: 15px;
        background-color: $primary-text;
        opacity: 0.3;
      }

      .women-divider {
        margin: -36px 0 0 452px;
      }

      .men-divider {
        margin: -37px 0 0 299px;
      }

      .women-text2 {
        margin: -34px 0 0 291px;
        letter-spacing: 2px;
      }

      .men-text2 {
        margin: -34px 0 0 -15px;
        letter-spacing: 2px;
      }
    }
  }

  .clearfix {
    clear: both;
  }
}
