<div class="search">
  <div
    class="search_bg"
    ng-show="$ctrl.isOpen">
  </div>
  <input
  type="text"
  name="search"
  class="search_input"
  ng-class="{'search_input__open': $ctrl.isOpen}"
  focus-me="$ctrl.isOpen" />
  <div class="search_icon-container" ng-click="$ctrl.showInput()">
    <div class="search_icon">
    </div>
  </div>
</div>
