.search{
  position: relative;

  .search_bg {
    width: 1600px;
    height: 100%;
    margin-left: -1150px;
    position: fixed;
    z-index: 2;
  }

  .search_input {
    width: 0;
    height: 0;
    border-style: none;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    overflow-x: hidden;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;

    &.search_input__open {
      width: 120px;
      height: 20px;
      display: inline-block;
      margin: 86px 285px 0 0;
      border-bottom: 1px solid $primary-text;
      background-color: $primary-background;
      box-shadow: none;
      border-top: 0px none;
      border-left: 0px none;
      border-right: 0px none;
      outline-offset: 0;
      outline-color: transparent;
      outline-style: none;
      outline-width: 0;
    }

    &:focus + .search_icon-container > .search_icon {
      margin: 81px 0 0 10px;
    }
  }

  .search_icon-container {
    width: 30px;
    height: 30px;
    display: inline-block;

    .search_icon {
      width: 100%;
      height: 100%;
      margin: 81px 0 0 141px;
      background-image: url('./images/spritesheet.png');
      background-position: left 249px top 0;
      float: left;
      -webkit-transition: margin .5s;
      -moz-transition: margin .5s;
      -o-transition: margin .5s;
      transition: margin .5s;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
