@import "./scss/colors.scss";
@import "./scss/fonts.scss";
@import "./fonts/font-awesome.css";
@import "./components/mainPage/mainPage.scss";
@import "./components/navBar/navBar.scss";
@import "./components/search/search.scss";
@import "./components/cart/cart.scss";
@import "./components/cartRow/cartRow.scss";
@import "./components/glassesContainer/glassesContainer.scss";
@import "./components/specialOffers/specialOffers.scss";
@import "./components/bestSellers/bestSellers.scss";
@import "./components/glassesItem/glassesItem.scss";
@import "./components/newArrivals/newArrivals.scss";
@import "./components/brand/brand.scss";
@import "./components/brands/brands.scss";
@import "./components/newsLetter/newsLetter.scss";
@import "./components/bottom/bottom.scss";
@import "./components/orderPage/orderPage.scss";

body {
  background-color: lightgrey;
  margin-top: 0;
}
