$white: #ffffff;
$primary-background: #f2ebe6;
$light-background: #e5e5e5;
$img-bg: #b2b2b2;
$transparent-bg: rgba(0, 0, 0, .5);
$dark-text1: #303437;
$dark-text2: #212121;
$dark-text2-rgba: rgba(33, 33, 33, 0.3);
$primary-text: #a77c5a;
$primary-text-rgba: rgba(167, 124, 90, 0.3);
$bottom-logo-text: #b8b3b0;
$input-border: rgba(0,0,0,0.12)
