@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
  font-family: 'Gotham Medium';
  src: url('./fonts/Gotham Medium Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Regular';
  src: url('./fonts/Gotham Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamThin Regular';
  src: url('./fonts/GothamThin Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GGotham Book Regular';
  src: url('./fonts/Gotham Book Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('./fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$roboto: 'Roboto', sans-serif;
$gotham-medium: 'Gotham Medium', sans-serif;
$gotham-regular: 'Gotham Regular', sans-serif;
$gotham-thin: 'GothamThin Regular', sans-serif;
$gotham-book: 'Gotham Book Regular', sans-serif;
$font-awesome: 'FontAwesomer', sans-serif;
$myriad-pro: 'MyriadProRegular', sans-serif;
